#set($uniqueResults=[])
#set($resultsMap=$contents.getEmptyMap())
#set($params=$request.params)
$request.params.get('q')
#foreach($doc in $response.results)
       #foreach($value in $doc.getFieldValue('organism_term'))
        #if(!$uniqueResults.contains($value))
        	#set($output=$uniqueResults.add($value))
        #end    
 
	 #end
#end
#foreach($r in $uniqueResults)
	$r
#end
